*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background: #1c1717;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
  }
  
  body::before{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: calc(100% + 50px);
    background: linear-gradient(45deg, #000, #ff0000, #000);
    background: linear-gradient(45deg, #000, #1d5b82, #000);
    z-index: -1;
  }
  